*{
  box-sizing: border-box;
}
html, body{
  width: 100%;
  height: 100%;
  min-width: 380px;

  margin: 0;

  background: #ecf0f1;
  font-family: "Exo 2";
  text-align: center;
  overflow: hidden;
}
header{
  margin-bottom: 50px;
}

header div.logo{
  position: relative;
  width: 100%;
}
div.logo img{
  transition: transform .5s ease;
  position: relative;
  width: 5%;
  padding: 5px;
}
img:hover{
  transform: rotateZ(360deg);
}
h1{
  position: relative;

  display: inline-block;
  margin: 0;
  padding: 0;
  top: -20px;

  font-weight: 100;
  text-align: center;
  font-size: 280%;
  text-transform: uppercase;

  color: #EEE;
  animation: squazzio 10s ease infinite reverse;
  -webkit-filter: saturate(50%);
}
h1.busted{
  -webkit-filter: saturate(200%);
}
@keyframes squazzio {
  0%{
    color: #B10DC9;
  }
  1%{
    color: #ecf0f1;
  }
  20%{
    color: #ecf0f1;
  }
  21%{
    color: #B10DC9;

  }
  22%{
    color: #ecf0f1;
  }
  23%{
    color: #B10DC9;

  }
  20%{
    color: #ecf0f1;
  }
  24%{
    color: #B10DC9;

  }
  25%{
    color: #ecf0f1;
  }
  26%{
    color: #B10DC9;

  }
  66%{
    color: #B10DC9;

  }
  68%{
    color: #ecf0f1;
  }
  70%{
    color: #B10DC9;

  }
  95%{
    color: #B10DC9;

  }
  96%{
    color: #ecf0f1;
  }
  97%{
    color: #B10DC9;

  }
  98%{
    color: #ecf0f1;
  }
}
h2{
  margin: 0;
  margin-top: 30px;

  color: #555;
  font-weight: 100;
}
h3{
  font-weight: 100;
  text-align: center;
  font-size: 120%;
  text-transform: uppercase;
  color: #FFF;
}
table.kaptur{
  position: relative;
  border-collapse: collapse;
  margin: 15px auto;
}
table.kaptur td{
  transition: background 1ms linear,
  border 1s ease;

  width: 100px;
  height: 100px;
  border: 5px solid #DDD;
  text-align: center;
  cursor: pointer;
  background: transparent;
}
table.kaptur td.movable{
  background: rgba(177, 13, 201, 0.4);
}

td div, div.subhead div div{
  transition: top 300ms ease, left 300ms ease,
  transform 200ms ease, border 200ms ease,
  border-radius 1s ease, background 3s ease;
  position: absolute;
  display: inline-block;
  width: 97px;
  height: 97px;

  background: #FFF;
  border: 10px solid #B10DC9;
  border-radius: 50%;
  transform: scale(0.5);

  animation: select 500ms ease 1;
}
div.subhead{
  height: 30px;
  text-align: center;
}
.subhead div{
  display: inline-block;
  width: 87px;
  margin: 0 20px;
  overflow: hidden;
}
div.subhead div div{
  transition: top 400ms ease-in;
  position: relative;
  width: 25px;
  height: 25px;
  margin: 2px;
  top: 0;

  border-width: 3px;

  transform: none;
  animation: none;
}
div.mine{
  text-align: right;
}
div.op{
  text-align: right;
  transform: rotateY(180deg);
}
@keyframes select{
  from{
    border-radius: 50%;
    transform: scale(0.7);
  }
}
table.kaptur td.selected div{
  border-radius: 50%;
  border-width: 48px;
  /* transform: scale(0.7); */
}
td div.adv, .subhead div.adv{
  background: #B10DC9;
  border-color: rgba(0, 0, 0, .5);
}

table.kaptur.busted td{
  border-color: rgba(177, 13, 201, 0.4) rgba(240, 18, 190, .4);
}
table.kaptur.busted td div{
  transition: border 3s ease,
  border-radius 1s ease, background 3s ease,
  transform 1s ease;

  background: #ecf0f1;
  border-color: #444;
  border-radius: 50%;
  transform: scale(0.5);
}
table.kaptur.busted td div.adv{
  background: #B10DC9;
  border-color: rgba(0,0,0, 0.6);
}
table.kaptur.busted td.busted div.adv{
  background: #FF4136;
}
table.kaptur.busted td.busted div.me{
  border-color: #B10DC9;
}

@keyframes squazzio_bg{
  10%{
    background: #B10DC9;
    border-color: #B10DC9;
  }
  20%{
    background: #FF4136;
    border-color: #FF4136;
  }
  30%{
    background: #FFF;
    border-color: #FFF;
  }
  40%{
    background: #0FF;
    border-color: #0FF;
  }
  50%{
    background: lime;
    border-color: lime;
  }
  60%{
    background: #000;
    border-color: #000;
  }
  70%{
    background: #FF0;
    border-color: #FF0;
  }
  80%{
    background: #F0F;
    border-color: #F0F;
  }
  90%{
    background: #00F;
    border-color: #00F;
  }
}

body.squazzio{
  animation: squazzio_bg 1s ease 10 reverse;
}
div.tuto{
  transition: top 300ms ease, left 300ms ease;

  z-index: 3;
  position: relative;
  margin: 10px;
  margin-top: -30px;
  padding: 10px;

  color: #FFF;

  background: transparent;
  border-radius: 5px;
  border: 3px solid #B10DC9;
  border-color: #B10DC9 transparent;
}
div.tuto p{
  z-index: 2;
  display: inline-block;

  margin: 0;
  padding: 10px;

  font-size: 110%;
}
div.tuto button{
  z-index: 3;
  position: relative;
  display: inline-block;
  top: -3px;

  min-height: 30px;
  padding: 10px 15px;

  background: #B10DC9;
  color: #EEE;
  font-size: 100%;
  border: none;
  text-transform: uppercase;

  cursor: pointer;
  border-radius: 3px;
}
div.tuto button:disabled{
  cursor: default;
  background: transparent;
  color: #B10DC9;
  border: 1px solid #B10DC9;
}
