:root{
  --gold: #FDBF02;
  --blue: #0074D9;
  --pink: #FB2E8D;
  --red: #FF4136;
}

*{
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

html, body{
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  font-family: Avenir;
  background: #333;
  overflow: hidden;
}

div.abs{
  transition: opacity 900ms ease;

  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  z-index: 91;

  opacity: 1;
  background: rgba(0,0,0,0.6);
}
dialog{
  --main-color: white;
  --background: #FDBF02;
  --center: #FB2E8D;
  --foreground: #0074D9;

  --button-color: var(--main-color);
  --button-circle: var(--center);
  --button-background: var(--background);

  --border: none;

  transition: top 1s ease, transform 1s ease, opacity 900ms ease;

  z-index: 3;
  position: fixed;
  min-width: 300px;
  top: -100%;
  left: 50%;
  z-index: 4;
  display: inline-block;
  padding: 30px;
  margin: 0;
  opacity: 0;

  color: var(--main-color);
  font-size: 130%;
  text-align: center;

  border: var(--border);
  background: var(--background);
  transform: translateX(-50%) translateY(-50%) rotateZ(230deg);
}
dialog.appear{
  top: 50%;
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
}

dialog h4{
  margin: 0;

  font-size: 180%;
  font-weight: 100;
}
dialog p{
  color: inherit;
}
button.interactive{
  transition: border 300ms ease;

  position: relative;
  padding: 10px 20px;

  color: var(--button-color, white);
  font-size: 100%;
  font-weight: bold;

  background: var(--button-background, #0074D9);
  border: none;
  cursor: pointer;
  border-radius: 2px;
  overflow: hidden;
}
button.interactive::after{
  transition: transform 500ms ease;

  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  width: 100px;
  z-index: 1;

  border-radius: 50%;
  background: var(--button-circle, #FDBF02);
  overflow: hidden;

  transform-origin: left top;
  transform: scale(0) translateX(-50%) translateY(-50%);
}
button.interactive:hover::after{
  transform: scale(0.6) translateX(-50%) translateY(-50%);
}
button.interactive:focus::after{
  transform: scale(2) translateX(-50%) translateY(-50%);
}
button.interactive span{
  position: relative;
  z-index: 9;
}


dialog:before, dialog:after{
  transition: transform 200ms ease;
  z-index: -1;
  position: absolute;
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  border: var(--border);
  background: #EEE;
  transform: rotateZ(0deg);
}
dialog:before{
  background: var(--center);
  transform: rotateZ(0deg);
}
dialog:after{
  background: var(--foreground);
  transform: rotateZ(0deg);
}
dialog:after{
  transition: transform 2s ease;
  transform: rotateZ(3deg);
}
dialog:before{
  transition: transform 1s ease;
  transform: rotateZ(-3deg);
}

dialog.lost{
  --foreground: #FF4136;
  --center: #FFF;
  --background: #0074D9;
  --button-background: #FFF;
  --button-color: #FF4136;
}
dialog.win{
  --background: #FFF;
  --center: gold;
  --button-background: gold;
  --button-color: white;
}
dialog.reversi:before{
  background: #FF4136;
}

dialog.reversi{
  background: #00F;
}
dialog.reward{
  background: #ff006a;
  color: gold;
}
dialog.reward:before{
  background: gold;
}
dialog.reward:after{
  background: #333;
}
dialog.reward button{
  background: gold;
  color: #333;
}

div.statsMenu{
  transition: transform 300ms ease, opacity 500ms ease;

  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  padding: 25px;
  min-width: 70%;
  opacity: 0;

  background: #FB2E8D;
  transform-origin: top left;
  transform: scaleY(0) translateX(-50%) translateY(-50%);

  border: 5px solid white;
  border-width: 3px 0;
}
div.statsMenu.appear{
  opacity: 1;
  transform: scaleY(1) translateX(-50%) translateY(-50%);
}
.statsMenu h2{
  margin: 0;

  text-transform: uppercase;
  font-size: 250%;
  font-weight: bold;
}
.statsMenu h3{
  font-size: 180%;
  margin: 0;

  text-transform: uppercase;
  font-weight: 100;
}
.statsMenu h6{
  margin: 0;

  font-size: 120%;;
  color: #FFF;
  font-weight: 100;
}
.statsMenu table{
  width: 100%;
  margin: 10px 0 15px 0;

  border-collapse: collapse;
  table-layout: fixed;

  color: #FFF;
  font-weight: 100;
}
.statsMenu table tr td{
  padding: 5px 10px;
  border: 1px solid rgba(255,255,255,0.2);
  border-width: 1px 0;
}
.statsMenu table tr td:first-child{
  text-align: right;
}
.statsMenu table tr td:last-child{
  text-align: left;
  font-weight: bold;
}
.statsMenu button{
  --button-background: transparent;
  --button-color: white;
  --button-circle: var(--gold);

  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;

  border: none;
}
.statsMenu.lost{
  background: var(--red);
}


div.menu{
  display: table;
  position: relative;
  width: 100%;

  font-size: 130%;
  border-collapse: collapse;
  table-layout: fixed;
  margin-bottom: 10px;
  background: #B10DC9;
  text-align: center;
}
div.menu a{
  transition: color 300ms ease;
  display: table-cell;
  padding: 15px;
  font-weight: 100;
  color: #FFF;
  cursor: pointer;
  text-decoration: none;
}
div.menu a:hover{
  color: #B10DC9;
  background: #FFF;
}
hr{
  margin: 30px 10px;
  border: 1px solid #FFF;
  border-radius: 1px;
}
