.loadlock{
    position: relative;
    width: 100%;
    height: 100%;

    background: #000;
    white-space: nowrap;
}
.loadlock--bg{
    z-index: 1;
    transition: opacity 1s ease;

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-size: 110%;
    background-attachment: fixed;
    pointer-events: none;

    filter: brightness(50%);
}
.loadlock h2{
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    
    font-size: 1000%;
    text-transform: uppercase;
    color: white;

    transform: translate(-50%,-50%);
}
.loadlock h2:after{
    position: absolute;
    left: 0;
    top: 80%;

    content: attr(data-subtitle);
    font-size: 20%;
}
.loadlock .label{
    transition: opacity 1s ease;

    z-index: 3;
    position: absolute;
    bottom: 3%;
    left: 50%;
    opacity: 0;

    color: white;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 150%;
}
.loadlock .loadlock--scroll{
    transition: opacity 1s ease;

    position: absolute;
    z-index: 3;
    height: 10%;
    left: 50%;
    bottom: 3%;
}

.after_lockscroll{
    position: relative;
    top: 100%;
}


div.programme{
    position: relative;
    text-align: center;
    overflow: hidden;
}
.programme:after{
    content: "";
    display: block;
    position: absolute;
    top: 30%;
    left: 15%;
    width: 15px;
    height: 60%;

    background: #FE0002;
}

div.programme--line{
    overflow: hidden;
}

.programme--line > div{
    width: 50%;
    padding: 20px;
}
.programme--left{
    text-align: right;
}
.programme--right{
    text-align: left;
}

.programme--left h4{
    display: block;

    color: #FE0002;
    font-size: 5rem;
    font-weight: normal;
}
.programme--left h5{
    position: relative;
    top: -20px;    

    font-size: 2rem;
    text-transform: uppercase;
}
.programme--left h5:after{
    display: block;
    content: "";
    position: absolute;
    width: 50px;
    height: 10px;
    right: 0;
    top: 160%;

    text-align: right;

    background: #FE0002;
}

.programme--right h4{
    position: relative;
    top: 15px;

    font-size: 2rem;
    color: #002BFF;
    text-transform: uppercase;
}
.programme--right p{
    font-size: 1.3rem;
}
.programme--small .programme--left h4{
    font-size: 2rem;
}
.programme--small .programme--right h4{
    top: 0;
    color: #323232;
}

.section--renseignements{
    position: relative;
    margin-bottom: 20px;
}
.section--renseignements:before, .section--renseignements:after{
    display: block;
    position: absolute;
    top: 300px;
    left: -60px;
    content: "";

    width: 120px;
    height: 120px;

    border-radius: 50%;
    background: #FE0002;
}
.section--renseignements:after{
    top: 590px;
    left: 95%;
}

div.infos *{
    display: block !important;
    text-align: center;
}
div.infos h6{
    position: relative;
    top: 20px;

    text-transform: uppercase;
    color: #323232;
    font-size: 1.5rem;
    font-weight: 100;
}
div.infos h3{
    padding: 0;

    color: #002BFF;
    font-size: 5rem;
    font-weight: bold;

    background: none;
}
div.infos h4{
    position: relative;
    top: -20px;

    color: #FE0002;
    font-size: 1.8rem;
    font-weight: normal;
}

div.map{
    margin: auto;
    width: 80%;
    height: auto;

    text-align: center;

    border-radius: 5px;
    background: #DDD;
    overflow: hidden;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
}
div.map > *{
    width: 100%;
}

.section--contact p{
    position: relative;
    top: -20px;
    text-align: center;
    font-size: 2rem;
}

.section--seemore a{
    transition: box-shadow .3s ease, transform .3s ease;

    display: inline-block;
    padding: 10px 20px;
    margin: 0 15px;

    font-size: 1.5rem;
    color: #323232;
    text-decoration: none;

    border: 2px solid #002BFF;
    border-radius: 100px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    transform: scale(1);
}
.section--seemore a:hover{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
}