.content h1{
  padding: 30px;

  color: #FF00AD;
  font-size: 210%;
  font-weight: 100;
  font-family: museo;
  text-align: center;
}
.photos{
  text-align: center;
  background: linear-gradient(180deg, #FFF 5%, #FFBC00);
}
.photos div{
  position: relative;
  transition: filter 1s ease, transform 5s ease;

  width: 40%;
  min-height: 300px;
  padding: 5px;
  display: inline-block;

  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
  background-position: center;

  cursor: pointer;
  filter: saturate(160%);
}
.photos div img{
  display: none;
}
@keyframes appear{
  0%{
    top: -30px;
    filter: saturate(0%);
    transform: rotateZ(0deg) !important;
  }
  50%{
    top: 0px;
    filter: initial;
    transform: rotateZ(0deg);
  }
}
