section.presta{
  width: 100%;
  padding-top: 10px;
  line-height: 50px;
  text-align: center;
}
div.cardsC{
  display: inline-block;
  text-align: center;
  padding: 40px;
}
section.presta h1{
  color: #00B2CA;
  font-family: "museo", "helvetica";
  text-align: center;
  margin: 20px;
  margin-bottom: 5px;
  font-weight: 100;
  font-size: 200%;
}
section.presta div.info{
  margin-top: 20px;
  margin-bottom: -10px;

  background: #FFDE55;
  color: #222;
  font-weight: 100
}

div.card{
  transition: transform 500ms ease;

  display: inline-block;
  padding: 10px;
  margin: 15px;

  text-align: center;

  background: transparent;
  cursor: pointer;

  overflow: hidden;
}
div.card a{
  text-decoration: none;
  color: inherit;
}
div.card:hover{
  transform: scale(1.1);
}
div.card .illustr{
  top: 10px;
  margin: 0;
  width: 200px;
  height: 200px;

  border-radius: 50%;
  background: no-repeat center;
  background-size: cover;
  border: 8px solid #FFF;
}
div.card h3{
  margin-top: 5px;

  font-family: museo;
  font-size: 180%;
  font-weight: 100;

  height: 100%;
}

div.card.maki{
  color: #F79256;
}
div.card.maki .illustr{
  background-image: url("../src/maki_petit.jpg");
}

div.card.peluche{
  color: #7DCFB6;
}
div.card.peluche .illustr{
  background-image: url("../src/chien.jpg");
}

div.card.struct{
  color: #B38FB1;
}
div.card.struct .illustr{
  background-image: url("../src/struct.jpg");
}

div.card.confiserie{
  color: #E3868F;
}
div.card.confiserie .illustr{
  background-image: url("../src/bap.jpg");
}

div.card.bois{
  color: #00B2CA;
}
div.card.bois .illustr{
  background-image: url("../src/bois.jpg");
}

div.card.ballon{
  color: #FFDE55;
  padding: 5px;
  margin: 20px;
}
div.card.ballon h3{
  font-size: 140%;
}
div.card.ballon .illustr{
  background-image: url("../src/ballons.jpg");
}

div.card.jv{
  color: #FF4136;
}
div.card.jv .illustr{
  background-image: url("../src/jv.jpg");
}

div.card.pac{
  color: #E671B8;
  padding: 5px;
  margin: 20px;
}
div.card.pac h3{
  font-size: 140%;
}
div.card.pac .illustr{
  background-image: url("../src/pac.png");
}
div.card.baby{
  color: blue;
}
div.card.baby .illustr{
  background-image: url("../src/baby.png");
}
div.card.photoselfie{
  color: #FF00AD;
}
div.card.photoselfie .illustr{
  background-image: url("../src/photoselfie_rond.png");
}

div.card.forfaits{
  color: #F79256;
}
div.card.forfaits .illustr{
  background-image: url("../src/forfaits.jpg");
  border: 5px solid #00B2CA;
}
